@charset "UTF-8";



.lectureNo {
	text-align: center;
}

#jstreeCourseCate {
	height : 400px;
	width : 250px;
	overflow: scroll;
}

#setDateOfWeekAndTime{
	border : 0;
}


.btnSetDayOfWeek{
	margin : 5px;
}


/* 테이블 head 고정 */
.table-head-fix tbody {
	display : block;
	max-height : 400px;
	overflow-y: scroll; 
}

.table-head-fix thead, .table-head-fix tbody tr {
	display: table;
	width: 100%;
	
}

.classroomModal {
	padding-left:30px;
	padding-right:30px;
	
}



#table_lecture th, td {
	text-align: center;
}

#table_lecture th:first-child {
	width: 10%;
}

#table_lecture th:nth-child(2) {
	width: 30%;
}

#table_lecture th:last-child {
	width: 5%;
}

#table_lecture input {
	width: 100%;
}


/* 수강생 관리 - table */
#stuList th, td {
    text-align: center;
}


#stuList th:first-child {
    width: 5%;
}

#stuList th:nth-child(2) {
    width: 9%;
}

#stuList th:nth-child(3) {
    width: 15%;
}

#stuList th:nth-child(4) {
    width: 19%;
}

#stuList th:nth-child(5) {
    width: 19%;
}

#stuList th:nth-child(6) {
    width: 20%;
}

#stuList th:nth-child(7) {
    width: 11%;
}


/* 강사 관리 - table */
#tchList th, td {
    text-align: center;
}

#tchList th:first-child {
    width: 5%;
}

#tchList th:nth-child(2) {
    width: 10%;
}

#tchList th:nth-child(3) {
    width: 15%;
}

#tchList th:nth-child(4) {
    width: 20%;
}

#tchList th:nth-child(5) {
    width: 20%;
}

#tchList th:nth-child(6) {
    width: 20%;
}

#tchList th:nth-child(7) {
    width: 10%;
}



/* 모달 - 강사 */
#modalTchList th, td {
    text-align: center;
}

#modalTchList th:first-child {
    width: 10%;
}

#modalTchList th:nth-child(2) {
    width: 20%;
}

#modalTchList th:nth-child(3) {
    width: 30%;
}

#modalTchList th:nth-child(4) {
    width: 40%;
}


/* 모달 - 강의실 */
#modalClassroomList th, td {
    text-align: center;
}

#modalClassroomList th:first-child {
    width: 10%;
}

#modalClassroomList th:nth-child(2) {
    width: 40%;
}

#modalClassroomList th:nth-child(3) {
    width: 40%;
}

#modalClassroomList th:nth-child(4) {
    width: 10%;
}

