<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="academyMapper">

	<insert id="userInsert" parameterType="com.javaclass.teamAcademy.vo.LogVO">
		INSERT INTO USER_ACCOUNT(
							user_No
							, user_Cate_No
							, user_Id
							, user_Pass
							, user_Name
							, user_Email
							, user_Addr1
							, user_Tel
							, user_Gender
							, user_Birthday
							, user_Signupdate							
							, user_Addr2
							)
		VALUES (
						seq_user_no.NEXTVAL
						, 1
						, #{user_Id}
						, #{user_Pass}
						, #{user_Name}
						, #{user_Email}
						, #{user_Addr1}
						, #{user_Tel}
						, #{user_Gender}
						, #{user_Birthday}
						, SYSDATE						
						, #{user_Addr2}
				)
				
			<selectKey keyProperty="user_No" resultType="int">
	    		SELECT seq_user_no.CURRVAL FROM dual
			</selectKey>
	</insert>

	<select id="loginCheck" parameterType="com.javaclass.teamAcademy.vo.LogVO" resultType="com.javaclass.teamAcademy.vo.LogVO">
		SELECT *
	    FROM USER_ACCOUNT
	    WHERE user_Id = #{user_Id}
	    <if test="user_Pass != null">
	    AND user_Pass = #{user_Pass}
		</if>
	</select>
	
	<!-- <select id="findId" parameterType="LogVO" resultType="LogVO">
		SELECT *
		FROM FROM USER_ACCOUNT
		WHERE user_Name = ? AND user_Email = ? 
	</select> -->
	
	<select id="findIdCheck" parameterType="com.javaclass.teamAcademy.vo.LogVO" resultType="com.javaclass.teamAcademy.vo.LogVO">
        SELECT *
        FROM USER_ACCOUNT
        WHERE user_Name = #{user_Name} AND user_Email = #{user_Email}
    </select>
    
    <select id="findUserId" parameterType="com.javaclass.teamAcademy.vo.LogVO" resultType="com.javaclass.teamAcademy.vo.LogVO">
        SELECT user_Id
        FROM USER_ACCOUNT
        WHERE user_Name = #{user_Name} AND user_Email = #{user_Email}
    </select>
	
	<select id="getLog" parameterType="int" resultType="com.javaclass.teamAcademy.vo.LogVO">
	    SELECT *
	    FROM user_Account
	    WHERE user_No = #{user_No}
	</select>
	
	
</mapper>
