<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ExamDao">
	
	<!-- Exam List 가져올 것임 -->
	<select id="fetchExamList" parameterType="int" resultType="com.javaclass.teamAcademy.vo.ExamVO">
		SELECT 
		    e.exam_no AS exam_no,
		    e.exam_name AS exam_name,
		    e.exam_context AS exam_context,
		    TO_CHAR(e.exam_date, 'YYYY-MM-DD') AS exam_date, 
		    g.user_no AS user_no,
		    u.user_name AS user_name,
		    g.original_score AS original_score
		FROM 
		    exam e
		INNER JOIN 
		    grade g ON e.exam_no = g.exam_no
		INNER JOIN 
		    user_account u ON g.user_no = u.user_no
		WHERE 
		    u.user_no = #{userNo}
		ORDER BY 
		    e.exam_date ASC
	</select>

	<!-- Exam Year 가져올 것임 -->
	<select id="fetchExamYears" parameterType="int" resultType="int">
		SELECT 
			DISTINCT TO_CHAR(exam_date, 'YYYY') AS year
		FROM 
			exam e
		INNER JOIN
			grade g
		 ON
			e.exam_no = g.grade_no
		INNER JOIN
			user_account ua
		 ON
			g.user_no = ua.user_no
		WHERE 
			g.user_no = #{userNo}
		ORDER BY 
			year DESC
	</select>
	
	<!-- 시험명 드랍다운으로 만들어줄 sql. -->
	<select id="selectAllExams" resultType="ExamVO">
		SELECT
			exam_no, exam_name, exam_context, exam_date
		FROM
			exam
	</select>
	
</mapper>