<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HomeworkDao">

	<!-- 특정 학생(user_no)에 등록된 강좌 목록 불러오기 -->
   <select id="getLecturesByUser" parameterType="int" resultType="com.javaclass.teamAcademy.vo.CourseVO">
		SELECT 
		    c.course_no,
		    c.course_name,
		    u.user_name AS instructor_name
		FROM course c
		JOIN user_account u ON c.course_instructor = u.user_no
		WHERE c.course_no IN (
		    SELECT course_no
		    FROM course_registration
		    WHERE course_student = #{userNo})
	</select>

	<!-- 강좌에 따른 과제 목록 불러오기 -->
	<select id="getHomeworkByCourse" parameterType="int" resultType="com.javaclass.teamAcademy.vo.HomeworkVO">
		SELECT 
	        hw.hw_no, 
	        hw.hw_title, 
	        hw.hw_context, 
	        TO_CHAR(hw.hw_startdate, 'YYYY-MM-DD') AS hw_startdate, 
	        TO_CHAR(hw.hw_enddate, 'YYYY-MM-DD') AS hw_enddate, 
	        TO_CHAR(hw.hw_enddate, 'HH24:MI') AS hw_endtime, 
	        hw.hw_course, 
	        c.course_instructor, 
	        c.course_name, 
	        u.user_name 
	    FROM homework hw
	    JOIN course c ON hw.hw_course = c.course_no
	    JOIN user_account u ON c.course_instructor = u.user_no
	    WHERE hw.hw_course = #{courseNo}
	    ORDER BY hw.hw_no DESC
	</select>

	<!-- hwNo에 따른 과제 세부사항 가져옴. -->
	<select id="getHomeworkDetails" parameterType="int" resultType="com.javaclass.teamAcademy.vo.HomeworkVO">
	    SELECT 
	        hw.hw_no 
	        , hw.hw_title
	        , hw.hw_context
	        , TO_CHAR(hw.hw_startdate, 'YYYY-MM-DD') AS hw_startdate 
	        , TO_CHAR(hw.hw_enddate, 'YYYY-MM-DD') AS hw_enddate
	        , TO_CHAR(hw.hw_enddate, 'HH24:MI') AS hw_endtime
	        , hw.hw_course
	        , c.course_instructor
	        , u.user_name
	        , c.course_name
	    FROM homework hw
	    JOIN course c ON hw.hw_course = c.course_no
	    JOIN user_account u ON c.course_instructor = u.user_no
	    WHERE hw.hw_no = #{hwNo}
	</select>

<!-- 	<select id="checkSubmissionStatus" parameterType="int" resultType="com.javaclass.teamAcademy.vo.HomeworkVO">
		SELECT 
		    TO_CHAR( h.hw_enddate, 'YYYY-MM-DD' ) AS endDate,
		    TO_CHAR( h.hw_enddate, 'HH24:MI' ) AS endTime,
		    u.upload_location AS uploadLocation
		FROM 
		    homework h
		LEFT JOIN 
		    homework_done hd ON h.hw_no = hd.hw_no
		LEFT JOIN 
		    upload u ON hd.upload_no = u.upload_no
		WHERE 
		    h.hw_no = #{hwNo}
	</select> -->

<!-- 	<select id="getHomeworkDetails" parameterType="int" resultType="com.javaclass.teamAcademy.vo.HomeworkVO">
        SELECT hw_no, hw_enddate, hw_endtime
        FROM homework
        WHERE hw_no = #{hwNo}
    </select>

    <select id="isFileUploaded" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM upload
        WHERE hw_no = #{hwNo}
    </select> -->
	 
</mapper>