<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProfileMapper">

	<insert id="createProfile" parameterType="com.javaclass.teamAcademy.vo.ProfileVO">
		INSERT INTO PROFILE (
				            profile_No
				            , user_No
				            
			        ) VALUES (
				            seq_profile_no.NEXTVAL
				            , #{user_No}
				            
			        )
    </insert>   
	
	<select id="getUserProfile" parameterType="int" resultType="com.javaclass.teamAcademy.vo.LogVO">
        SELECT *
        FROM user_Account
        WHERE user_No = #{user_No}
    </select>
	
	<update id="updateProfile" parameterType="com.javaclass.teamAcademy.vo.LogVO">
		UPDATE user_Account
        SET user_Name = #{user_Name}
        	, user_School = #{user_School}
            , user_Grade = #{user_Grade}
            , user_Parent_tel = #{user_Parent_tel}
            , user_Email = #{user_Email}
        WHERE
            user_No = #{user_No}
	</update>
	
	<!-- 로그 정보 업데이트 -->
    <update id="updateLogInfo" parameterType="com.javaclass.teamAcademy.vo.LogVO">
        UPDATE user_Account
        SET user_Parent_tel = #{user_Parent_tel}
        	, user_School = #{user_School}
        	, user_Grade = #{user_Grade}
        	, user_Email = #{user_Email}
        WHERE user_No = #{user_No}
    </update>
</mapper>
