<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SystemDAO">
	
	<select id="selectClassroomList" parameterType="com.javaclass.teamAcademy.vo.ClassroomVO" resultType="com.javaclass.teamAcademy.vo.ClassroomVO">
		SELECT CLASSROOM_NO, CLASSROOM_NAME, CLASSROOM_LOCATION 
		FROM CLASSROOM 
	</select>
</mapper>