<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TchHomeworkDAO">


	<!-- 과제 작성 -->
	<insert id="insertHomework" parameterType="com.javaclass.teamAcademy.vo.TchHomeworkVO">
			INSERT INTO HOMEWORK (
				hw_no
				, hw_course
				, hw_title
				, hw_context
				, hw_startdate
				, hw_enddate
				, upload_no
				, upload_location
				)
			VALUES (
				seq_hw_no.nextval
				, #{hw_course}
				, #{hw_title}
				, #{hw_context}
				, sysdate
				, sysdate+2
				, #{upload_no}
				, #{upload_location}
			)
	</insert>
	
	<!-- 과제 목록 -->
	<select id="homeworkList" parameterType="com.javaclass.teamAcademy.vo.TchHomeworkVO" resultType="com.javaclass.teamAcademy.vo.TchHomeworkVO">
		SELECT 	h.hw_no, h.hw_course, h.hw_title, h.HW_CONTEXT,
				h.HW_STARTDATE, h.HW_ENDDATE, h.UPLOAD_NO,
				s.SERVICE_NO, u.PK_NO, u.UPLOAD_LOCATION,
				ua.USER_NO, ua.USER_NAME 
		FROM HOMEWORK h
		JOIN COURSE c 
		ON h.HW_COURSE = c.COURSE_NO 
		JOIN UPLOAD u 
		ON h.UPLOAD_NO = u.UPLOAD_NO 
		JOIN SERVICE s 
		ON u.SERVICE_NO = s.SERVICE_NO 
		JOIN USER_ACCOUNT ua 
		ON c.COURSE_INSTRUCTOR = ua.USER_NO
		WHERE h.HW_COURSE = 1
	</select> 

	<!-- 과제 상세 -->
	<!--  <select id="homework" parameterType="com.javaclass.teamAcademy.vo.TchHomeworkVO" resultType="com.javaclass.teamAcademy.vo.TchHomeworkVO">
		
		
		</select> -->
	
	

</mapper>